@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --cor-1: #074160;
    --cor-2: #00FFDD;
    --cor-3: #FAABDD;
    --cor-4: #B8D9FF;
    --cor-5: #02d4b8;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 40px 10px;
    margin: 0 auto;
}

.cor-1 {
    color: var(--cor-1);
}

.cor-2 {
    color: var(--cor-2);
}

.cor-3 {
    color: white;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h3 {
    font-size: clamp(1.2rem, 3vw, 2rem);
}

p {
    font-size: 22px;
}


/*global*/

.navegacao {
    background: linear-gradient(to bottom, #074160, #031f2e);
    border-top: 14px solid var(--cor-2);
    border-bottom: 7px solid var(--cor-2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo a img {
    width: 100%;
    max-width: 220px;
}

.hamburger {
    font-size: 26px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: var(--cor-2);
}

.nav-links li a {
    color: var(--cor-2);
    text-decoration: none;
    font-size: 19px;
    transition: .3s;
    letter-spacing: 2px;
}

.nav-links li a:hover {
    color: white;
}

/*nav*/

.hero {
    position: relative;
    height: calc(72vh - 124px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: var(--cor-1);
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position:  center;
    z-index: 99;
}

.cta-link {
    position: fixed;
    display: inline-block;
    background-color: var(--cor-2);
    color: var(--cor-1);
    padding: 20px 30px;
    text-align: center;
    transition: .5s;
    bottom: 22vh;
    right: 0;
    z-index: 999;
}

.cta-link:hover {
    scale: 1.1;
    box-shadow: 0 0 15px 8px #095781;
}

.cta-link strong {
    display: block;
    font-size: 30px;
}

.cta-link span {
    font-size: 22px;
}

/*header*/

.find {
    background: linear-gradient(to bottom, #074160, #031f2e);
    text-align: center;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

.find h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    color: rgba(245, 245, 245, 0.6);
}


/*find*/

.what-is {
    background-image: url('../imgs/pelos.webp');
    background-size: cover;
    background-position: center center;
    padding: 0 20px;
    color: var(--cor-1);
}

.what-txt img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.what-is .container {
    background-color: rgb(0, 255, 221, 0.5);
    padding: 40px 20px;
}

.what-txt {
    margin-left: 80px;
}

.what-is>.container>p {
    font-size: clamp(20px, 5vw, 28px);
}

.what-is strong {
    font-size: clamp(20px, 5vw, 28px);
}

.what-container {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.what-box-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-size: clamp(20px, 5vw, 28px);

}

.what-box-single img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/*what is*/

.how {
    background: linear-gradient(to bottom, #074160, #000000);
    color: var(--cor-2);
    border-top: 10px solid white;
}

.how .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 50px;
}

.how > .container > div {
    padding: 0 10px;
}

.how img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    position: relative;
    top: -80px;
}

.how h2 {
    margin-bottom: 20px;
}

.fs18 {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 33px;
}


/*how*/

.who .container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: var(--cor-1);
}

.who-txt {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.who-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.who-img-1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 100px;
}

.who-img-2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.who-img-3 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    top: -100px;
}

.who-img-4 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    left: 100px;
    bottom: 100px;
}

.who p {
    margin-bottom: 10px;
}

.who .bold {
    margin-top: 30px;
}

/*who*/

.waitlist {
    background-image: url('../imgs/cobra.jpg');
    background-size: cover;
    color: var(--cor-2);
    border-bottom: 10px solid white;
    padding: 0 10px;
}

.waitlist h2 {
    margin-bottom: 30px;
    font-size: clamp(1.5rem, 4vw, 3rem);
    letter-spacing: 3px;
}

.waitlist p {
    margin-bottom: 20px;
}

.waitlist-txt {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.waitlist .container {
    background-color: rgba(7, 65, 96, 0.5);
}

.waitlist .fs18 {
    margin-left: 0;
}

.form-container {
    width: 100%;
    margin: 60px auto;
    text-align: center;
    border-radius: 10px;
}

.btn {
    padding: 15px;
    background-color: var(--cor-2);
    color: var(--cor-1);
    font-size: 22px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--cor-5);
}

/*form*/

/*waitlist*/

.cta {
    background-image: url('../imgs/pena.webp');
    background-size: cover;
    padding: 40px 10px;
    color: var(--cor-1);
    text-align: center;
}

.cta img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.cta .container {
    background-color: rgb(0, 255, 221, 0.7);
}

.cta p {
    margin-bottom: 20px;
}

.destaque {
    font-size: clamp(30px, 5vw, 45px);
}

/*cta*/

.sociais {
    bottom: 40%;
    right: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}

.sociais a {
    border-radius: 50%;
}

.sociais img {
    width: 60px;
    height: 60px;
    transition: .3s;
}

.sociais img:hover {
    scale: 1.1;
}


/*sociais*/

footer {
    text-align: center;
}

footer a {
    color: var(--cor-1);
}

/*footer*/


@media (max-width: 1200px) {
    .who-img-1 {
        width: 200px;
        height: 200px;
    }

    .who-img-2 {
        width: 200px;
        height: 200px;
    }

    .who-img-3 {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: relative;
        top: -100px;
    }

    .who-img-4 {
        width: 200px;
        height: 200px;
        position: relative;
        left: 100px;
        bottom: 100px;
    }

    .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:  center;
    z-index: 99;
}
}

@media (max-width: 1000px) {
    .who-img-1 {
        display: none;
    }

    .who-img-2 {
        display: none;
    }

    .who .container {
        gap: 0;
    }

    .who-img-3 {
        top: -80px;
    }
}

@media (min-width: 768px) {
    .how .container {
        flex-direction: row;
    }
}

@media (max-width: 950px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: var(--cor-1);
        display: none;
        padding: 20px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .what-txt {
        margin-left: 0;
    }

    .who-img-3 {
        display: none;
    }

    .who-img-4 {
        display: none;
    }

    .how img {
        margin: 0 auto;
    }

    .nav-links li:not(:last-child)::after {
        content: none;
    }

    .cta-link {
        padding: 12px 20px;
    }

    .cta-link strong {
        font-size: 20px;
    }

    .cta-link span {
        font-size: 16px;
    }
}